footer {
  // background-color: $color__mm4-blue;
  @include full-padding;
  padding-bottom: 3em;
  color: #fff;
  font-size: .9em;

  @include linx(#fff, #fff, #fff, #fff);

  .footer-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 261px;
    margin-bottom: .5em;
    @include margin-auto;

    a, span {
      flex: 1 1 30%;
      display: block;
    }

    img {
      @include center-block;
      overflow: hidden;
    }

    #mm4 {
      max-width: 120px;
    }

    #wbenc {
      max-width: 63px;
    }

    #google-partner {
      max-width: 71px;
    }
  }

  .footer-social {
    padding: .5em 0;
    display: flex;
    justify-content: space-between;
    max-width: 261px;
    @include margin-auto;

    svg {
      max-width: 30px;
    }
  }

  .footer-address {
    text-align: center;
    font-size: .9em;
  }

  @include respond-to('950') {
    padding-bottom: 2em;

    .flex-container {
      align-items:flex-end;
    }

    .footer-logos {
      align-items: flex-end;
      max-width: 450px;
      @include reset;

      a, span {
        flex: 1 1 33%;
        display: inline-block;
      }

      img {
        margin-left: 0;
        margin-right: 0;
      }

      #mm4 {
        max-width: 220px;
      }

      #wbenc {
        max-width: 75px;
        margin-left: 20px;
      }

      #google-partner {
        max-width: 90px;
      }
    }

    .footer-social {
      display: block;
      max-width: none;
      margin:0;
      text-align: right;
      padding: 0;

      svg {
        max-width: 25px;
      }
    }

    .footer-address {
      text-align: right;
    }
  }
}