form {

  input,
  label {
    display: block;
    width: 100%;
  }

  input[type="submit"] {
    color: #fff;
    background-color: $color__mm4-orange;
    border: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-size: .9em;
    appearance: none;
    padding: 6px 10px;
  }

  .checkbox-highlight {
    color: $color__mm4-yellow;
    display: block;
  }

  fieldset {
    border: none;
    @include reset;

    ul {
      list-style-type: none;
      @include reset;

      li {
        margin: .5em 0;
      }

      // label {
      //   display: block;
      //   position: relative;
      //   padding-left: 2em;
      // }
    }

    input[type="checkbox"] {
      width: 13px;
      height: 13px;
      padding: 0;
      margin:0;
      position: relative;
      top: 5px;
      float: left;
      clear: both;
    }

    label {
      padding-left: 2em;
    }
  }

  .g-recaptcha {
    display: block;
    float: right;
    margin: 1em 0;
  }

  .msg-box {
    clear: both;
  }

  .msg-box.error {
    margin-top: 1em;
    margin-bottom: 1em;
    float: right;
    span {
      display: block;
      strong {
        color: #ffff00;
      }
    }
  }

  .submit {
    clear: both;
  }

  @include respond-to('750') {
    fieldset {
      input[type="checkbox"] {
        // top: 7px;
      }
    }
  }

  @include respond-to('950') {
    fieldset {
      input[type="checkbox"] {
        // top: 11px;
      }
    }
    .checkbox-highlight {
      color: $color__mm4-yellow;
      display: inline-block;
      margin-bottom: 0;
      margin-right: 10px;
      font-weight: 700;
    }
  }

  @include respond-to('1150') {
    .form-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: right;
      margin-bottom: 1em;
      label {
        flex: 1;
        line-height: 1;
      }
      input {
        flex: 2;
      }
    }
    input[type="submit"] {
      margin-left: 5px;
      margin-top: 0;
    }

    .honey-row {
      margin-bottom: 0;
    }

    .g-recaptcha {
      margin-top: .5em;
    }
  }
}