form {

  input,
  label {
    display: block;
    width: 100%;
  }

  input[type="submit"] {
    color: #fff;
    background-color: $color__mm4-orange;
    border: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-size: .9em;
    appearance: none;
    padding: 6px 10px;
  }

  fieldset {
    border: none;
    @include reset;
  }

  input[type="checkbox"] {
    position: absolute;
    top: 3px;
    left: 0;
    cursor: pointer;
  }

  .checkbox-highlight {
    color: $color__mm4-yellow;
    display: block;
    margin-bottom: .2em;
  }

  ul {
    list-style-type: none;
    @include reset;

    li {
      position: relative;
      margin: .5em 0;
    }

    label {
      display: block;
      position: relative;
      padding-left: 2em;
    }
  }

  @include respond-to('750') {
    input[type="checkbox"] {
      top: 5px;
    }
  }

  @include respond-to('950') {
    .checkbox-highlight {
      color: $color__mm4-yellow;
      display: inline-block;
      margin-bottom: 0;
      margin-right: 10px;
      font-weight: 700;
    }
  }

  @include respond-to('1150') {
    .form-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: right;
      margin-bottom: 1em;
      label {
        flex: 1;
        line-height: 1;
      }
      input {
        flex: 2;
      }
    }
    input[type="submit"] {
      margin-left: 5px;
    }
  }
}