h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}

h1 {
  @include reset;
  color: $color__mm4-blue;
  font-family: $font__heading;
  line-height: 1;
  @include font-smooth;
}

h2 {
  @include reset;
  font-family: $font__heading;
  color: $color__mm4-white;
  line-height: 1;
  @include font-smooth;
}

h2.section-heading {
  text-align: center;
  padding: .25em;
  font-size: 1.6em;
  letter-spacing: 1px;
}

h3 {
  @include reset;
  color: $color__mm4-yellow;

}