header {
  @include padding-top-bottom;
  @include padding-left-right;
  text-align: center;

  img {
    max-width: 200px;
  }

  h1 {
    font-size: 1.9em;
  }
}

// @include respond-to('320') {
//     .logo {
//         width: 40%;
//         float: left;
//         clear: right;
//         padding: 10px;
//     }
//     h1 {
//         width: 60%;
//         float: right;
//         font-size: $h1-iphone-font;
//         margin: 0;
//     }
// }
// @include respond-to('575') {
//     h1 {
//         font-size: $header-mobile;
//     }
// }
// @include respond-to('750') {
//     padding-top: 20px;
//     .logo {
//         padding: 0;
//         width: 20%;
//         float: left;
//     }
//     h1 {
//         padding-top: 40px;
//         width: 80%;
//         font-size: $header-tablet;
//     }
// }
// @include respond-to('950') {
//     h1 {
//         float: left;
//     }
// }
// @include respond-to('1150') {
//     h1 {
//         padding-top: 50px;
//     }
// }