h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}

h1 {
  @include reset;
  color: $color__mm4-blue;
  font-family: $font__heading;
  line-height: 1;
  @include font-smooth;
  font-size: 2em;
  margin-bottom: .5em;

  @include respond-to('450') {
    font-size: 1.9em;
    margin-bottom: .75em;

  }
}

h2 {
  @include reset;
  font-family: $font__heading;
  color: $color__mm4-white;
  line-height: 1;
  @include font-smooth;
  text-align: center;
  padding: .25em;
  font-size: 1.6em;
  letter-spacing: 1px;

  @include respond-to('450') {
    font-size: 1.9em;
  }

  @include respond-to('650') {
    font-size: 1.8em;
  }

  @include respond-to('950') {
    font-size: 2em;
    padding: .35em;
    text-align: left;
    @include padding-left-right;
  }
}

h3 {
  @include reset;
  color: $color__mm4-yellow;
}