#main-content {
  h2 {
    text-align: center;
    padding: .2em;
    font-size: 2.3em;
    letter-spacing: 1px;
  }

  #announcement {
    h2 {
      background-color: $color__mm4-gray;
    }
  }

  .announcement-wrapper {
    @include full-padding;

    ul {
      list-style-type: none;
      @include reset;
      li {
        position: relative;
        padding-left: 4em;
        margin: 1em 0;
        line-height: 1.3;

        &:before {
          content: '';
          font-family: $font__bold;
          text-transform: uppercase;
          color: $color__mm4-blue;
          position: absolute;
          top: 0;
          left: 0;
          // margin-right: 2em;
        }

        a {
        }
      }
      span {
        display: block;
      }

      .what {
        font-family: $font__bold;
        &:before {
          content: 'what:';
        }
        span {
          font-family: $font__main;
        }
      }

      .when {
        &:before {
          content: 'when:';
        }
      }

      .where {
        &:before {
          content: 'where:';
        }
      }
    }
  }

  #event-details {
    h2 {
      background-color: $color__mm4-orange;
    }

    .event-details-wrapper {
      @include full-padding;

      .list-header {
        font-family: $font__bold;
        margin-bottom: 0;
      }

      ul {
        line-height: 1.7;
        margin-top: 10px;
      }
    }
  }
}