.main-content {

  #announcement {
    background-color: $color__background_white;

    h2 {
      background-color: $color__mm4-gray;
    }

    .announcement-wrapper {
      @include full-padding;

      ul {
        list-style-type: none;
        @include reset;

        li {
          position: relative;
          padding-left: 4em;
          line-height: 1.3;
          margin-bottom: .5em;

          &:before {
            content: '';
            font-family: $font__bold;
            text-transform: uppercase;
            color: $color__mm4-blue;
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        span {
          display: block;
        }

        .what {
          font-family: $font__bold;
          &:before {
            content: 'what:';
          }
          span {
            font-family: $font__main;
          }
        }

        .when {
          &:before {
            content: 'when:';
          }
        }

        .where {
          &:before {
            content: 'where:';
          }
        }
      }
    }
  }

  #event-details {
    background-color: $color__background_white;
    h2 {
      background-color: $color__mm4-orange;
    }

    .event-details-wrapper {
      @include full-padding;

      .list-header {
        font-family: $font__bold;
        margin-bottom: 0;
      }

      ul {
        line-height: 1.7;
        margin-top: 10px;
      }
    }
  }

  #registration {
    h2 {
      background-color: $color__mm4-yellow;
    }

    .registration-wrapper {
      @include full-padding;
      color: #fff;
    }

    #form-section {
      @include padding-top-bottom;

      form {
        padding-bottom: 2em;
      }

      label {
        font-family: $font__bold;
        @include font-smooth;
        margin: .5em 0;
      }
    }
  }

  @include respond-to('650') {
    .announcement-wrapper,
    .event-details-wrapper,
    #attending-section,
    #form-section {
      @include container-sm;
    }
  }

  @include respond-to('750') {
    #event-details {
      .event-details-wrapper {
        p:first-child {
          margin-top: 0;
        }

        ul {
          line-height: 1.5;
        }
      }
    }
  }

  @include respond-to('950') {
    #registration {

      #form-section {
        padding-left: 2em;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}