html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  // @include font-size(.9375);

  @include respond-to('320') {
    @include font-size(1);
  }

  @include respond-to('750') {
    @include font-size(1.09);
  }

  @include respond-to('1150') {
    @include font-size(1.11);
  }

  @include respond-to('1450') {
    @include font-size(1.211);
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body,
button,
input,
select,
textarea {
  color: $text_main;
  font-family: $font__main;
  line-height: $font__line-height-body;

  @include respond-to('1150') {
    line-height: $font__line-height-body * 1.0625;
  }
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-family: $font__main;
}

.title {
  width: 100%;
}

// for displaying the Read More >> sections
.hide {
  display: none;
}
.read-more-toggle {
  cursor: pointer;
}
body {
  background-color: $mm4_blue;
}

.wrapper {
  background-color: $background-color;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-child {
  flex: 1 1 50%;
}

