form {

  input,
  label {
    display: block;
    width: 100%;
  }

  .email-list-label {
    display: block;
    padding-top: 1em;

    input {
      margin-top: 15px;
      width: 13px;
      height: 13px;
      float: left;
      clear: both;
    }
    label {
      display: block;
      padding-left: 2em;
    }
  }

  input[type="submit"] {
    color: #fff;
    background-color: $color__mm4-orange;
    border: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-size: .9em;
    appearance: none;
    padding: 6px 10px;
  }

  .checkbox-highlight {
    color: $color__mm4-yellow;
    display: block;
  }

  .read-more {
    padding: .5em 0;

    a {
      color: $color__mm4-yellow;
      text-decoration: none;

      &:hover,
      &:active,
      &:visited {
        color: $color__mm4-yellow;
      }
    }

    .read-more-dropdown {
      padding-top: 1em;
      opacity: 0;
      max-height: 0;
      font-size: 0;
      transition: .25s ease;
    }

    .read-more-dropdown.active {
      opacity: 1;
      font-size: inherit;
      max-height: 999em;
    }
  }

  fieldset {
    border: none;
    @include reset;

    ul {
      list-style-type: none;
      @include reset;

      li {
        margin: .5em 0;
      }

      ul {
        font-size: .9em;

        .sub-menu-header {
          margin: .5em 0;
          color: $color__mm4-yellow;
          font-size: 1.1em;
        }
      }

      ul.read-more-list {
        list-style-type: disc;
        margin-left: 1.4em;
      }
    }

    input[type="checkbox"] {
      width: 13px;
      height: 13px;
      padding: 0;
      margin: 0;
      position: relative;
      top: 5px;
      float: left;
      clear: both;
    }

    label {
      padding-left: 2em;

      span {
        display: block;
      }
    }
  }

  .g-recaptcha {
    display: block;
    float: right;
    margin: 1em 0;
  }

  .msg-box {
    clear: both;
  }

  .msg-box.error {
    margin-top: 1em;
    margin-bottom: 1em;
    float: right;
    span {
      display: block;
      strong {
        color: #ffff00;
      }
    }
  }

  .submit {
    clear: both;
  }

  @include respond-to('750') {
    fieldset {
      input[type="checkbox"] {
        // top: 7px;
      }
    }
  }

  @include respond-to('950') {
    fieldset {
      input[type="checkbox"] {
        // top: 11px;
      }
    }
    .checkbox-highlight {
      color: $color__mm4-yellow;
      display: inline-block;
      margin-bottom: 0;
      margin-right: 10px;
      font-weight: 700;
    }
  }

  @include respond-to('1150') {
    .form-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: right;
      margin-bottom: 1em;
      label {
        flex: 1;
        line-height: 1;
      }
      input {
        flex: 2;
      }
    }

    .email-list-label {
      display: block;
      max-width: 500px;
      margin-left: auto;

      input {
        flex: none;
        margin-top: 5px;
      }
      label {
        flex: none;
      }
    }

    input[type="submit"] {
      margin-left: 5px;
      margin-top: 0;
    }

    .honey-row {
      margin-bottom: 0;
    }

    .g-recaptcha {
      margin-top: .5em;
    }
  }

  @include respond-to('1450') {
    .email-list-label {
      max-width: 525px;
    }
  }
}