#registration {
  // background-color: $color__mm4-blue;

  h2 {
    background-color: $color__mm4-yellow;
  }

  .registration-wrapper {
    @include full-padding;
  }

  #attending-section {
  }

  #form-section {
    @include padding-top-bottom;

    form {
      padding-bottom: 2em;
    }

    label {
      font-family: $font__bold;
      @include font-smooth;
      margin: .5em 0;
    }
  }
}