// Full Padding Left-Right-Top-Bottom
@mixin full-padding() {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: 1.375rem;
  padding-left: 1.375rem;

  @include respond-to('450') {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  @include respond-to('750') {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @include respond-to('1150') {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

// Outside padding
@mixin padding-left-right() {
  padding-left: 1.375rem;
  padding-right: 1.375rem;

  @include respond-to('450') {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  @include respond-to('1150') {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

// Outside margin
@mixin margin-left-right() {
  margin-left: 1.375rem;
  margin-right: 1.375rem;

  @include respond-to('450') {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }

  // @include respond-to('1150') {
  //   margin-left: 3.5rem;
  //   margin-right: 3.5rem;
  // }
}

// Section Padding Top & Bottom
// @mixin section-padding {
//   padding-top: 1.5em;
//   padding-bottom: 1.5em;
// }

// Padding Top & Bottom (REM)
@mixin padding-top-bottom() {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include respond-to('750') {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

// Remove All Margin and Padding
@mixin reset {
  margin:0;
  padding:0;
}

// Display Block, Margin Auto
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Margin Auto
@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}
