@import "colors";
@import "breakpoints";
@import "typography";

$h1-iphone-font: 1em;
$h1-mobile-font: 1.7em;
$h1-tablet-font: 1.8;
$h1-laptop-font: 2em;
$h1-desktop-font: 2.5em;

$header-mobile: 1.7em;
$header-tablet: 2em;

$h1-thank-you: 2em;

$a-tags: 'a, a:active, a:hover, a:visited';