// Brand Colors
$color__mm4-orange: #e75200;
$color__mm4-yellow: #ffd456;
$color__mm4-blue: #0072ae;
$color__mm4-gray: #807e82;
$color__mm4-white: #FFF;

// Background Colors
$color__background_blue: $color__mm4-blue;
$color__background_white: $color__mm4-white;

// Text Colors
$color__text-main:#222;

