header {
    .logo {
        max-width: 200px;
    }
    h1 {
        color: $mm4_blue;
    }
    @include respond-to('320') {
        .logo {
            width: 40%;
            float: left;
            clear: right;
            padding: 10px;
        }
        h1 {
            width: 60%;
            float: right;
            font-size: $h1-'320'-font;
            margin: 0;
        }
    }
    @include respond-to(mobile) {
        h1 {
            font-size: $header-mobile;
        }
    }
    @include respond-to(tablet) {
        padding-top: 20px;
        .logo {
            padding: 0;
            width: 20%;
            float: left;
        }
        h1 {
            padding-top: 40px;
            width: 80%;
            font-size: $header-tablet;
        }
    }
    @include respond-to(laptop) {
        h1 {
            float: left;
        }
    }
    @include respond-to(desktop) {
        h1 {
            padding-top: 50px;
        }
    }
}

