#registration {
    clear: both;
    background-color: $mm4_blue;
    .title {
         background-color: $mm4-yellow;
    }
    .thank-you-title {
        margin: 0 auto;
        text-align: center;
        font-size: $h1-thank-you;
    }
    a {
        color: $mm4_white;
    }
    .registration-wrapper {
        .form-section {
            .form-row {
                display: inline;
                label {
                    color: $mm4_white;
                    font-family: $bold-font;
                }
            }
            .honey {
                display: none!important;
            }
        }
        .schedule-section {
            h3, label {
                color: $mm4-yellow;
                font-family: $bold-font;
            }
            .read-more-toggle, .read-more-content  {
                color: $mm4-white;
                font-family: $regular-font;
            }
            p {
                color: $mm4-white;
                font-family: $regular-font;
                span {
                    font-family: $bold-font;
                }
            }
        }
        .submit {
            clear: both;
            width: 100%;
            margin: 20px auto;
            padding-top: 10px;
            border-radius: 0;
            border: none;
            background-color: $mm4-orange;
            color: $mm4_white;
            text-transform: uppercase;
        }
    }
    .footer-wrapper {
        color: $mm4_white;
        .footer-promo {
            #mm4 {
                max-width: 250px;
            }
        }
        .footer-address {
            margin-bottom: 50px;
        }
        .footer-social {
            .social-icon {
                width: 25px;
                display: inline-block;
            }
        }
    }
    @include respond-to(iphone) {
        .registration-wrapper {
            padding: 0 10px;
        }
        h1 {
            font-size: $h1-mobile-font;
        }
        .form-section {
            width: 100%;
            .form-row {
                label {
                    width: 30%;
                    float: left;
                    text-align: right;
                    margin-right: 10px;
                    margin-top: 10px;
                }
                input {
                    width: 60%;
                    margin-top: 10px;
                }
            }
        }
        .schedule-section {
            width: 100%;
            padding-top: 10px;
            clear: both;

            .fieldset {
                display: block;
                list-style-type: none;
                margin: 0;
                padding: 10px;
                .read-more-toggle {
                    margin: 5px 0 5px 32px;
                    float: left;
                }
                .read-more-content {
                    float: left;
                    padding: 0 30px;
                }
                input {
                    float: left;
                    clear: both;
                }
                label {
                    margin-left: 20px;
                    float: left;
                    width: 80%;
                    margin-bottom: 5px;
                }
            }
        }
        .footer-wrapper {
            // clear: both;
            .footer-promo {
                display: block;
                text-align: center;
                margin-bottom: 10px;
                #mm4 {
                    width: 150px;
                }
                #wbenc {
                    width: 50px;
                    padding-bottom: 10px;
                }
                #google-partner {
                    width: 50px;
                    padding-bottom: 10px;
                }
            }
            .footer-social {
                text-align: center;
                display: block;
                margin-bottom: 20px;
            }
            .footer-address {
                font-size: .5em;
                text-align: center;
            }
        }
    }
    @include respond-to(mobile) {
        .registration-wrapper {
            padding: 0 20px;
        }
        .form-section {
            .form-row {
                label {
                    width: 20%;
                }
            }
        }
        .schedule-section {
            .fieldset {
                .read-more-toggle, {
                    float: left;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    margin-left: 35px;
                }
                .read-more-content {
                    float: left;
                    padding: 0 35px;
                }
                input[type="checkbox"] {
                  cursor: pointer;
                }
            }
        }
        .footer-wrapper {
            // clear: both;
            .footer-promo {
                width: 100%;
                text-align: center;
                margin: 0 auto;
                #mm4 {
                    width: 250px;
                    margin: 10px;
                }
                #wbenc {
                    width: 80px;
                    padding-bottom: 10px;
                    margin: 10px;
                }
                #google-partner {
                    width: 80px;
                    padding-bottom: 10px;
                    margin: 10px;
                }
            }
            .footer-social {
                text-align: center;
                margin-bottom: 20px;
            }
            .footer-address {
                font-size: .7em;
                text-align: center;
            }
        }
    }
    @include respond-to(tablet) {
        h1 {
            font-size: $h1-tablet-font;
        }
        .registration-wrapper {
            padding: 0 40px;
        }
    }
    @include respond-to(laptop) {
        h1 {
            font-size: $h1-laptop-font;
        }
        .registration-wrapper {
            padding: 20px;
            .form-section {
                width: 50%;
                float: left;
                .form-row {
                    display: inline;
                    label {
                        color: $mm4_white;
                        float:left;
                        width: 150px;
                        height: auto;
                        text-align: right;
                        margin-right:15px;
                    }
                    input {
                        width: 60%;
                        height: 30px;
                    }
                }
            }
            .schedule-section {
                width: 50%;
                float: right;
                clear: right;
                h3 {
                    margin: 0;
                }
            }
            .submit {
                font-size: 1.5em;
            }
        }
        .footer-wrapper {
            padding: 20px;
            .footer-promo {
                width: 53%;
                float: left;
                text-align: left;
            }
            .footer-social{
                width: 40%;
                float: right;
                text-align: right;
                padding-top: 48px;
                padding-right: 20px;
            }
            .footer-address {
                clear: both;
                text-align: right;
                padding-right: 20px;
                font-size: .9em;
            }
        }
    }
    @include respond-to(large) {
        .registration-wrapper {
            .form-section {
                .form-row {
                    label {
                        width: 180px;
                    }
                }
            }
        }
    }
    @include respond-to(xlarge) {
        .registration-wrapper {
            .form-section {
                .form-row {
                    label {
                        margin-right: 75px;
                    }
                }
            }
        }
    }
    @include respond-to(xxlarge) {
        .registration-wrapper {
            .schedule-section {
                .fieldset {
                    label {
                        width: 85%;
                    }
                }
            }
        }
    }
}
