// Container Max-Width Settings
@mixin container-sm {
  max-width: $width__max-content-width-sm;
  margin-left: auto;
  margin-right: auto;
}

@mixin container {
  max-width: $width__max-content-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin xl-container {
  max-width: $width__max-content-width-xlg;
  margin-left: auto;
  margin-right: auto;
}

@mixin xxl-container {
  max-width: $width__max-content-width-xxlg;
  margin-left: auto;
  margin-right: auto;
}

@mixin xxxl-container {
  max-width: $width__max-content-width-xxxlg;
  margin-left: auto;
  margin-right: auto;
}

@mixin xxxxl-container {
  max-width: $width__max-content-width-xxxxlg;
  margin-left: auto;
  margin-right: auto;
}