header {
  @include padding-top-bottom;
  @include padding-left-right;
  text-align: center;

  .gbites {
    max-width: 200px;
    margin-bottom: .5em;
  }

  .mm4-header {
    max-width: 100px;
  }

  @include respond-to('950') {
    padding-top: 1em;
    padding-bottom: .5em;

    .flex-container {
      align-items: center;
    }

    .gbites {
      flex: 1;
      margin-right: 1em;
      margin-bottom: 0;
    }

    .mm4-header {
      flex:1;
      max-width: 135px;
      margin-bottom: 5px;
    }
  }

  @include respond-to('1150') {

    .gbites {
      max-width: 300px;
      margin-right:2em;
    }

    .mm4-header {
      max-width: 180px;
    }
  }

  @include respond-to('1850') {
    padding-left: 4.8rem;
    padding-right: 4.8rem;

  }
}
