.main-content {

  #announcement {
    background-color: $color__background_white;

    h2 {
      background-color: $color__mm4-gray;
    }

    .announcement-wrapper {
      @include full-padding;
      @include font-smooth;

      ul {
        list-style-type: none;
        @include reset;

        li {
          position: relative;
          padding-left: 4em;
          line-height: 1.3;
          margin-bottom: .5em;

          &:before {
            content: '';
            font-family: $font__bold;
            text-transform: uppercase;
            color: $color__mm4-blue;
            position: absolute;
            top: 0;
            left: 0;
            font-weight: 700;
          }
        }

        span {
          display: block;
        }

        .what {
          font-family: $font__bold;
          &:before {
            content: 'what:';
          }
          span {
            font-family: $font__main;
          }
        }

        .when {
          max-width: 320px;
          &:before {
            content: 'when:';
          }
        }

        .where {
          &:before {
            content: 'where:';
          }
        }
      }
    }
  }

  #event-details {
    background-color: $color__background_white;
    h2 {
      background-color: $color__mm4-orange;
    }

    .event-details-wrapper {
      @include full-padding;
      @include font-smooth;

      .list-header {
        font-family: $font__bold;
        margin-bottom: 0;
      }

      ul {
        line-height: 1.7;
        margin-top: 10px;
      }
    }
  }

  #registration {
    h2 {
      background-color: $color__mm4-yellow;
    }

    h2.thank-you-title {
      text-align: center;
    }

    .registration-wrapper {
      @include full-padding;
      color: #fff;
    }

    #attending-section {
      @include font-smooth;
    }

    #form-section {
      @include padding-top-bottom;

      form {
        padding-bottom: 2em;
      }

      label {
        font-family: $font__bold;
        @include font-smooth;
        margin: .5em 0;
      }
    }
  }

  @include respond-to('650') {
    .announcement-wrapper,
    .event-details-wrapper,
    #attending-section,
    #form-section {
      @include container-sm;
    }

    #announcement {
      .announcement-wrapper {

        ul {
          li {
            line-height: 1.5;
            margin-bottom: 1em;
          }
        }
      }
    }
  }

  @include respond-to('750') {
    #event-details {
      .event-details-wrapper {
        p:first-child {
          margin-top: 0;
        }

        ul {
          line-height: 1.5;
        }
      }
    }
  }

  @include respond-to('950') {
    .announcement-wrapper,
    .event-details-wrapper,
    #attending-section,
    #form-section {
      // @include container;
    }
    #registration {
      line-height: 1.2;

      #form-section {
        padding-left: 2em;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  @include respond-to('1150') {
    .announcement-wrapper,
    .event-details-wrapper,
    #attending-section,
    #form-section {
      max-width: 1200px;
    }

    #event-details {
      .event-details-wrapper {

        .list-header {
          font-family: $font__bold;
          margin-bottom: 10px;
        }

        .list-content {
          column-count:2;
          padding-top: 0;
          margin-top: 0;

          ul {
            margin-top: 0;
          }
        }
      }
    }

    #registration {
      #attending-section {
        padding-right: 2em;
      }
      #form-section {
        padding-top: .5em;
        padding-left: 0;

        label {
          @include reset;
          margin-right: 10px;
        }
      }
    }
  }

  @include respond-to('1850') {
    #announcement {
      h2 {
        padding-left: 2.1em;
      }
      .announcement-wrapper {
        padding-left: 5em;
      }
    }

    #event-details {
      h2 {
      }
      .event-details-wrapper {
        padding-right: 5em;
      }
    }

    #registration {
      h2 {
        padding-left: 2.1em;
      }

      .registration-wrapper {
        padding-left: 5em;
        padding-right: 5em;

        #form-section {
          // margin-right: 5em;
        }
      }
    }
  }
}

// @include respond-to('650') {
//   .announcement-wrapper,
//   .event-details-wrapper,
//   #attending-section,
//   #form-section {
//     @include container-sm;
//   }
// }