html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  @include font-size(.9375);

  @include respond-to('575') {
    @include font-size(1);
  }

  @include respond-to('750') {
    @include font-size(1.10);
  }

  @include respond-to('1150') {
    // @include font-size(1.15);
  }

  @include respond-to('1450') {
    @include font-size(1.15);
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body,
button,
input,
select,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  line-height: $font__line-height-body;

  @include respond-to('575') {
    line-height: 1.5;
  }

  @include respond-to('1150') {
    line-height: $font__line-height-body * 1.0625;
  }
}

// for displaying the Read More >> sections
.hide {
  display: none;
}
.read-more-toggle {
  cursor: pointer;
}
body {
  background-color: $color__background_blue;
}

.honey {
  display: none !important;
}

.wrapper {
  position: relative;
}

.content {
  background-image: url(../images/footer-background-image-millennium.svg);
  background-repeat: no-repeat;
  background-position: bottom 0px left -21%;

  @include respond-to('450') {
    background-position: bottom 0px left -70%;
  }

  @include respond-to('575') {
    background-position: bottom right;
    background-size: 50%;
  }
}

header {
  background-color: #fff;
}

.background-image-wrapper {

}

.flex-container {
  @include respond-to('950') {
    display: flex;
    justify-content: center;
  }
}

.flex-child {
  @include respond-to('950') {
    flex: 1 1 50%;
  }
}

.inner-wrapper {
  max-width:800px;
  margin: 0;
}

